
/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
    font-weight: 500;
}
/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(15, 23, 43, .7);
    z-index: 1;
}

.booking {
    position: relative;
    margin-top: -100px !important;
    z-index: 1;
}



/*** Service ***/
.service-item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.service-item:hover {
    background: #1a626e !important;
}

.service-item .service-icon {
    margin: 0 auto 30px auto;
    width: 65px;
    height: 65px;}


.service-item:hover i,
.service-item:hover h5,
.service-item:hover p {
    color: #10030d !important;
}
.section-center{
    background-image: url("../img/booking.jpg");
    background-size: cover;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#1a626e ;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
}




